boto
boto3
botocore
certifi
chardet
click
docutils
Flask
gensim
gunicorn
idna
itsdangerous
Jinja2
jmespath
joblib
MarkupSafe
nltk
numpy
pandas
python-dateutil
pytz
regex
requests
s3transfer
scipy
six
smart-open
tqdm
urllib3
vaderSentiment
Werkzeug
