.sentiment-positive {
  background-color:  #cdffd8;
  color: #24292e;
}
.sentiment-super-positive {
    background-color: #bef5cb;
    color: #24292e;
}
.ssentiment-neutral {
  color: gray;
}
.sentiment-negative {
  background-color: #ffeef0;
  color: #24292e;
}

div#review-analysis {
  white-space: pre-wrap;
}

textarea#review-text {
    width: 100%;
}

main {
    padding-bottom: 20px;
}

#useful-prediction {
    width: 100px;
}

#score {
    float: right;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
