.sentiment-positive {
  color: green;
}
.sentiment-neutral {
  color: gray;
}
.sentiment-negative {
  color: red;
}

div#review-analysis {
  white-space: pre-wrap;
}

textarea#review-text {
    width: 100%;
}

#useful-prediction {
    width: 100px;
}