{% extends "layout.html" %}
{% block content %}
<div class="row">
  <div class="col-md">
    <h2>Review</h2>
    <textarea id="review-text" rows="20" placeholder="Enter your review here..."></textarea>
    <button type="button" id="analyze-button" class="btn btn-primary">Analyze</button>
  </div>
  <div class="col-sm">
    <div>
    <h5 id="score" data-toggle="popover" data-placement="left" title="Usefulness Score" data-html=true data-content="{% include 'useful_popover.html' %}" data-trigger="hover">Usefulness score<span id="useful-prediction"></span></h5>
    <h2>Analysis</h2>
    </div>
    <div id="review-analysis"></div>
  </div>
</div>
{% endblock %}