{% extends "layout.html" %}
{% block content %}
<h2>Sentiment Score</h2>
<p>When you submit a review for analysis, Ampliview will break it down into sentences and analyze the sentiment of each sentence. This can help you better understand how people will perceive your review, as well as give you a visual representation of the structure of your review.</p>
<p>Each sentence is given a sentiment score that ranges from -1.0 to +1.0. The closer the score is to +1.0, the more positive the sentiment of the sentence. The closer the score is to -1.0, the more negative the sentiment of the sentence is. Scores near 0.0 have neutral sentiment. Sentiment analysis is done using the <a href="https://github.com/cjhutto/vaderSentiment" target="_blank">vaderSentiment</a> tool.</p>
<p>Once each sentence is scored, Ampliview will apply highlighting based on the sentences scoring. We can look at the highlighting for an example review:</p>
<p><img class="center" src="{{ url_for('static', filename='images/sample-highlighting.png') }}" /></p>
<p>You should be able to see that sentences with positive sentiment are highlighted in green (e.g. "The pizza was good") and sentences with negative sentiment are highlighted in red (e.g. "The location is not great though, I couldn't find parking"). Sentences with neutral sentiment have no highlighting (e.g. "I went to Cotto"). Sentences with extreme sentiment in either the positive or negative direction are bolded (e.g. "The food was so delicious"). The exact sentiment score can be seen by hovering over a sentence:</p>
<p><img class="center" src="{{ url_for('static', filename='images/sample-tooltip.png') }}" /></p>
{% endblock %}
