{% extends "layout.html" %}
{% block content %}
<h2>Usefulness Score</h2>
<p>To help users write reviews that are more useful, Ampliview provides a "Usefulness Score" in it's analysis of the review. Over 1 million reviews in Yelp were analyzed, and trends that positively correlated with Yelp reviews being marked as useful have been incorporated. For example if we look at reviews by their number of sentences, and graph the percentage of those that had atleast one useful vote:</p>
<p><img class="center" src="{{ url_for('static', filename='images/num_sentences.png') }}" /></p>
<p>We can see a positive correlation between number of sentences and usefulness of reviews. In fact this relationship looks logarithmic: as reviews increased from 1 to 18, there is a steep incline in the ratio that are marked as useful. After around 18 sentences reviews continued to become more useful, but at a lower rate than before. Other features were also included, which can be read about in the <a href='https://github.com/kyledemeule/ampliview/blob/master/static/pdf/report.pdf' target="_blank">written report</a>.</p>
<p>As the users continues to write and analyze their review, the updated score will be shown. The score is shown as a percentage, indicating the probability that the review would be found useful by readers at Yelp. This can help users with writing reviews in multiple ways: it can help them fine tune parts of their review by giving them immediate feedback, and can also provide motivation to keep writing their review and add more detail. The scores are shown as a percentage, with different colors as the score increases:</p>
<div class="text-center">
<img src="{{ url_for('static', filename='images/useful_20.png') }}" />
<img src="{{ url_for('static', filename='images/useful_40.png') }}" />
<img src="{{ url_for('static', filename='images/useful_60.png') }}" />
<img src="{{ url_for('static', filename='images/useful_75.png') }}" />
<img src="{{ url_for('static', filename='images/useful_90.png') }}" />
</div>
<p>A logistic regression model was trained on a sample of 50k Yelp reviews using <a href="https://www.statsmodels.org" target="_blank">statsmodel</a>. You can see the details of the model here:</p>
<pre class="center"><code>
Optimization terminated successfully.
         Current function value: 0.653254
         Iterations 5
                           Logit Regression Results                           
==============================================================================
Dep. Variable:              is_useful   No. Observations:                50000
Model:                          Logit   Df Residuals:                    49996
Method:                           MLE   Df Model:                            3
Date:                Fri, 31 Jul 2020   Pseudo R-squ.:                 0.05565
Time:                        15:49:04   Log-Likelihood:                -32663.
converged:                       True   LL-Null:                       -34588.
Covariance Type:            nonrobust   LLR p-value:                     0.000
======================================================================================================
                                         coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------------------------
intercept                             -1.4228      0.026    -54.234      0.000      -1.474      -1.371
log_review_distinct_pos_sentences      0.4795      0.016     29.455      0.000       0.448       0.511
log_review_distinct_neg_sentences      0.3440      0.017     20.831      0.000       0.312       0.376
log_review_distinct_neut_sentences     0.3241      0.015     21.372      0.000       0.294       0.354
======================================================================================================
</code></pre>
<p>The model was trained only on reviews from Yelp, so it can only rank and compare the properties of useful reviews from less useful reviews. It was not designed to distinguish reviews from non-reviews, so if non-reviews are inputted that have similar properties to useful reviews (e.g. are fairly long) they will also score highly on the "Usefulness Score", despite them obviously not being useful as Yelp reviews.</p>
{% endblock %}
