{% extends "layout.html" %}
{% block content %}
<h2>Usefulness Score</h2>
<p>To help users write reviews that are more useful, Ampliview provides a "Usefulness Score" in it's analysis of the review. Over 1 million reviews in Yelp were analyzed, and trends that positively correlated with Yelp reviews being marked as useful have been incorporated. For example if we look at reviews by their number of sentences, and graph the percentage of those that had atleast one useful vote:</p>
<p><img class="center" src="{{ url_for('static', filename='images/num_sentences.png') }}" /></p>
<p>We can see a positive correlation between number of sentences and usefulness of reviews. In fact this relationship looks logarithmic: as reviews increased from 1 to 18, there is a steep incline in the ratio that are marked as useful. After around 18 sentences reviews continued to become more useful, but at a lower rate than before. Other features were also included, which can be read about in the <a href='https://github.com/kyledemeule/ampliview/blob/master/static/pdf/report.pdf' target="_blank">written report</a>.</p>
<p>As the users continues to write and analyze their review, the updated score will be shown. The score is shown as a percentage, indicating the probability that the review would be found useful by readers at Yelp. This can help users with writing reviews in multiple ways: it can help them fine tune parts of their review by giving them immediate feedback, and can also provide motivation to keep writing their review and add more detail. The scores are shown as a percentage, with different colors as the score increases:</p>
<div class="text-center">
<img src="{{ url_for('static', filename='images/useful_20.png') }}" />
<img src="{{ url_for('static', filename='images/useful_40.png') }}" />
<img src="{{ url_for('static', filename='images/useful_60.png') }}" />
<img src="{{ url_for('static', filename='images/useful_75.png') }}" />
<img src="{{ url_for('static', filename='images/useful_90.png') }}" />
</div>
<p>The model was trained only on reviews from Yelp, so it can only rank and compare the properties of useful reviews from less useful reviews. It was not designed to distinguish reviews from non-reviews, so if non-reviews are inputted that have similar properties to useful reviews (e.g. are fairly long) they will also score highly on the "Usefulness Score", despite them obviously not being useful as Yelp reviews.</p>
<p>Ampliview was also only designed to work with English language reviews.</p>
{% endblock %}
